
My project/Library/Artifacts/09/

My project/Library/Artifacts/0a/

My project/Library/ArtifactDB

My project/Library/Artifacts/

My project/Library/PackageCache/

My project/Library/Bee/

My project/Library/ShaderCache/

My project/Library/StateCache/

My project/Assets/Plugins/HoudiniEngineUnity/

Reel Time/Library/
